body {
    font: 14px "century gothic", Futura, sans-serif;
    margin: center;
    background-image: url('honklhonk.jpg');
    background-repeat: no-repeat;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
    background-color: pink;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.dotB {
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.dotW {
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}